<h1>Listing presentations</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Date of presenation</th>
      <th>Description</th>
      <th>Presenters</th>
      <th>Companies</th>
      <th>Address</th>
      <th>Contact</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @presentations.each do |presentation| %>
      <%= render "presentation", :presentation => presentation%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New presentation', new_presentation_path,  :remote => true, :id => "new_presentation_link" %>
